{% extends 'main/base.html' %}
{% block title %} Content Page {% endblock %}
{% block content %}

<div class="row mt-4">
    <div class="col-md-12">
        <a href="{% url 'main:main' %}" class="btn btn-primary">Return to Main Page</a>
    </div>
</div>

<div class="header">
    <h2>{{content.title}}</h2>
    <h4>{{content.topics}}</h4>
</div>

<div class="content">
    {% if content.tag == "pdf" %}
    <embed src="{{ content.file.url }}" type="application/pdf" width="100%" height="600px" />
    {% elif content.tag == "video" %}
    <video width="100%" height="auto" controls>
        <source src="{{ content.file.url }}" type="video/mp4">
    </video>
    {% elif content.tag == "image" %}
        <img src="{{ content.file.url }}" alt="{{ title }}">
    {% else %}
        <p>Unsupported file type: {{ content.tag }}</p>
    {% endif %}

</div>

<!-- {% if permission == 'admin' %}
    <div class="information">
        <p>Current User: Guests</p>
        <p>This is a public resource for everyone to view.</p>
    </div>
{% endif %} -->

<div>
    <!-- <h3>Browse more available content:</h3>

    <div class="d-flex">
        <div class="btn-group" role="group" aria-label="Option Menu">
            <button type="button" class="btn btn-primary mr-2">All</button>
            <button type="button" class="btn btn-primary mr-2">Baby Development</button>
            <button type="button" class="btn btn-primary mr-2">Baby Health</button>
            <button type="button" class="btn btn-primary mr-2">Parent Health</button>
        </div>
    </div> -->

    <!-- <div class="container">
        <h1>File Results</h1>
        <div class="row">
          {% for result in allcontent %}
          <div class="col-md-6">
            <div class="card">
              <h2>{{ result.title }}</h2>
              <p>{{ result.topics }}</p>
              <div class="d-grid gap-2 col-6 mx-auto"> -->
                <!-- <button class="btn btn-primary btn-block" type="button">Button</button> -->
              <!-- </div>
            </div>
          </div>
          {% endfor %}
        </div>
    </div> -->
</div>
{% endblock %}