{% extends 'main/base.html' %}
{% block title %} Main Page {% endblock %}
{% block content %}
{% load static %}
<div class="row justify-content-center align-items-center">
  <div class="card mb-3" style="width: 40rem;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{% static '/images/incognito.png' %}" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          {% if user.is_authenticated %}
          <h5 class="card-title">Welcome to the BBP Portal, {{user.username}}</h5>
          {% else %}
          <h5 class="card-title">Welcome to the BBP Portal</h5>
          {% endif %}
          <a href="{% url 'main:teesandcees' %}" class="card-link">Click here to find out more about the UCT Research
            Project.</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row justify-content-center align-items-center">
  <div class="card mb-3" style="width: 40rem;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{% static '/images/google-play-store-logo.png' %}" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <a href="#" class="card-link">An Android Mobile App will soon be available.</a>
        </div>
      </div>
    </div>
  </div>
</div>


{% if user.is_authenticated %}
<h3 class="text-center">Assigned Content:</h3>
<div class="col-md-4 mx-auto">
  <a href="{% url 'users:assigned'%}" class="btn btn-primary btn-lg btn-block mb-2 border-0" style="background-color: #dc0ab4;">
    <span class="d-flex align-items-center">
      <img src="{% static '/images/assigned.png' %}" alt="Key Image" class="mr-2">
      <span>Assigned Content</span>
    </span>
  </a>
</div>
{% endif %}

<div class="text-center">
  <h3>Public Categories:</h3>

  <div class="row">
    <div class="col-md-4 mx-auto">
      <a href="{% url 'main:category' category='Baby Development' %}" class="btn btn-primary btn-lg btn-block mb-2 border-0"
        style="background-color: #ffa300;">
        <span class="d-flex align-items-center">
          <img src="{% static '/images/baby.png' %}" alt="Baby Image" class="mr-2">
          <span>Baby Development</span>
        </span>
      </a>
      <a href="{% url 'main:category' category='Baby Health' %}" class="btn btn-primary btn-lg btn-block mb-2 border-0"
        style="background-color: #00bfa0;">
        <span class="d-flex align-items-center">
          <img src="{% static '/images/health.png' %}" alt="Thermometer Health Image" class="mr-2">
          <span>Baby Health</span>
        </span>
      </a>
      <a href="{% url 'main:category' category='Parent Health' %}" class="btn btn-primary btn-lg btn-block mb-2 border-0"
        style="background-color: #9b19f5;">
        <span class="d-flex align-items-center">
          <img src="{% static '/images/parent.png' %}" alt="Parent Image" class="mr-2">
          <span>Parent Health</span>
        </span>
      </a>
    </div>
  </div>
</div>

<div class="text-center">
  <h3>Browse available ECD Content:</h3>

  <script src="{% static 'js/dynamic_content.js' %}"></script>
  <div class="d-flex justify-content-center">
    <ul class="btn-group" role="group" aria-label="Option Menu" id="category-list">
      <li><button type="button" class="btn btn-primary mr-2 border-0" data-category-id="All">All</button></li>
      <li><button type="button" class="btn btn-primary mr-2 border-0" data-category-id="Baby Development"
          style="background-color: #ffa300;">Baby
          Development</button></li>
      <li><button type="button" class="btn btn-primary mr-2 border-0" data-category-id="Baby Health"
          style="background-color: #00bfa0;">Baby Health</button></li>
      <li><button type="button" class="btn btn-primary mr-2 border-0" data-category-id="Parent Health"
          style="background-color: #9b19f5;">Parent Health</button>
      </li>
    </ul>
  </div>

  <div class="container">
    <div class="row" id="content-container">
      {% for result in allcontent %}
      <div class="col-md-6 content-item" data-category="{{ result.topics }}">
        <div class="card" style="margin-bottom: 2%;">
          <h2>{{ result.title }}</h2>
          {% if result.topics == 'Baby Development' %}
          <p>
            <span class="badge badge-primary category-badge"
              style="margin-right: 0.3125%; background-color: #ffa300;">{{ result.topics }}</span>
            <span class="badge badge-light">{{ result.language }}</span>
          </p>
          <a href="{% url 'main:content' contentID=result.idContent %}">
            <button class="btn btn-primary btn-block category-button border-0" style="background-color: #ffa300;">View
              Content</button>
          </a>

          {% elif result.topics == 'Baby Health' %}
          <p>
            <span class="badge badge-primary category-badge"
              style="margin-right: 0.3125%; background-color: #00bfa0;">{{ result.topics }}</span>
            <span class="badge badge-light">{{ result.language }}</span>
          </p>
          <a href="{% url 'main:content' contentID=result.idContent %}">
            <button class="btn btn-primary btn-block category-button border-0" style="background-color: #00bfa0;">View
              Content</button>
          </a>
          {% elif result.topics == 'Parent Health' %}
          <p>
            <span class="badge badge-primary category-badge"
              style="margin-right: 0.3125%; background-color: #9b19f5;">{{ result.topics }}</span>
            <span class="badge badge-light">{{ result.language }}</span>
          </p>

          <a href="{% url 'main:content' contentID=result.idContent %}">
            <button class="btn btn-primary btn-block category-button border-0" style="background-color: #9b19f5;">View
              Content</button>
          </a>
          {% else %}
          <p>
            <span class="badge badge-primary category-badge" style="margin-right: 0.3125%;">{{ result.topics }}</span>
            <span class="badge badge-light">{{ result.language }}</span>
          </p>
          <a href="{% url 'main:content' contentID=result.idContent %}">
            <button class="btn btn-primary btn-block category-button border-0">View Content</button>
          </a>

          {% endif %}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}