{% extends 'base.html' %}
{% block title %} Terms and Conditions {% endblock %}
{% block content %}

<div class="conditions">
    <title>Terms and Conditions - You and Your Baby App</title>

    <h1>Terms and Conditions</h1>
    <p>This is a UCT Research Project that stems from a collaboration with the Bhabhisana Baby Project (BBP).</p>
    <p>Using the Heroku platform for hosting, we are tracking the website views and not user usage. This results in a 100% compliant approach
        with POPIA and other acts such as GDPR.</p>
    <p>We hope you enjoy using the website and mobile app!</p>
    <!-- <p>- Bhabhisana and UCT</p> -->

    <h2>Data Privacy Policy for the You and Your Baby App</h2>
    <p>This Privacy Policy document outlines the types and specific information that is collected and recorded by the
        You and Your Baby App and Website, and how we use it.</p>

    <h3>The Data We Collect</h3>
    <p>The data collected in the application is about the traffic that the website experiences. There is no collection of personally identifiable data. Whenever we
        process your data, we take reasonable steps to ensure that it is kept accurate and up-to-date for the purposes
        for which they were collected.</p>

    <h3>What We Use It For</h3>
    <p>Your data is used purely for the purpose of evaluating the traffic while using the You and
        Your Baby App and Website.</p>

    <h3>Securing Your Data</h3>
    <p>When dealing with your data, we take the utmost care to ensure its security and integrity. We do not process or
        store any user data. We do not use cookies nor a third party to store any data
        user visitor data.</p>

    <h3>Consent</h3>
    <p>By the use of this web application, you provide your consent to allow the
        capturing, storage and use (discussed above) of the data provided.</p>
    <p>Please contact us if you would like more information on the use of your personal data, or object in whole or part
        to the processing of your data. If you have provided consent, you are free to withdraw it at any time.</p>
    <p>You may also request to:</p>
    <ul>
        <li>Access the personal data as processed by us</li>
        <li>Ask for correction or erasure of your personal data</li>
        <li>Request that the data provided to us be transferred to you or a person of your choice.</li>
    </ul>
    <p>If you would like to withdraw your consent, you are welcome to contact us (at sbklwa003@myuct.ac.za) – your data will be immediately removed
        from our systems and data stores.</p>
</div>
{% endblock %}